@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

:root {
  --bg: #2b2b2b;;
  --bg--: #545454 ;
  --fg: #a7e0e0;
  --primary:#4aa3a2;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fg);
  background: var(--bg);
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  
}

h1 span {
  color: var(--primary);
}

.fa-calculator {
  font-size: 4rem;
  margin-right: 1rem;
  color: var(--primary);
}

label {

  background-color: #fff;
  width: 3vw;
  height: 3vw;
  margin-right: 1em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-weight-scale, .fa-arrow-up {
  font-size: 1.5vw;
  color: var(--primary);
}

.container {
  padding: clamp(20px, 5vw, 50px);
  border-radius: 1vw;
  width: clamp(300px, 70vw, 1000px);
  height: clamp(300px, 70vh, 1000px);
  background: var(--bg--);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-group {

  padding: 1vw;
  margin: 0 5vw 0 0; 
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {

  width: auto;
  padding: 1em;
  border: var(--primary) 1px solid;
}

::placeholder {
  color: var(--primary);
  font-family: "Josefin Sans", sans-serif;
}

input:focus {
  color: var(--primary);
  font-family: "Josefin Sans", sans-serif;
}

button {
  display:block;
  border-radius: 5px;
  padding: 1em;
  margin: 0 auto;
color: var(--primary);
font-family: "Josefin Sans", sans-serif;
}


